<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()"
    class="formulario" >
      <ion-list>
        <ion-item class="form-item">
          <ion-label>Marca: </ion-label>
          <ion-input formControlName="marca"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-label>Modelo: </ion-label>
          <ion-input formControlName="modelo"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-label>Cor: </ion-label>
          <ion-input formControlName="cor"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-label>Placa: </ion-label>
          <ion-input formControlName="placa"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button class="botao" type="submit" >Cadastrar</ion-button>
      <ion-button class="botao" (click)="redirectToHomePage()">Cancelar</ion-button>
    </form>
  </div>
</ion-content>
