<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form novalidate [formGroup]="carroForm" (ngSubmit)="onSubmit()"
    class="formulario" >
    <ion-list>
      <ion-item class="form-item">
        <ion-input type="text" placeholder="Marca" formControlName="marca"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-input type="text" placeholder="Modelo" formControlName="modelo"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-input type="text" placeholder="Cor" formControlName="cor"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-input type="text" placeholder="Placa" formControlName="placa"></ion-input>
      </ion-item>
    </ion-list>
      <ion-button class="botao" type="submit" [disabled]="carroForm.invalid">Cadastrar</ion-button>
      <ion-button class="botao" (click)="redirectToHomePage()">Cancelar</ion-button>
    </form>
  </div>
</ion-content>
